@model List<MySensorShop.Models.Product>
@{
    ViewBag.Title = "Index";
}

 <!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Sensors E-Shop</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Sound</a>
                <a href="#" class="list-group-item">Light</a>
                <a href="#" class="list-group-item">Touch</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">


                                <img class="slide-image" src="~/img/b2.jpg" />
                            </div>
                            <div class="item">
                                <img class="slide-image"  src="~/img/b3.jpg" />
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/img/b1.jpg" />
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    @foreach (var x in Model)
                    {
                        <div class="col-sm-6 col-xs-6 col-md-3">
                            <div class="thumbnail">
                                    <img src="@x.Image" alt="" />

                                <h4 style="text-align:center">
                                    @x.pId
                                    <br />
                                    @x.Model
                                </h4>
                                <div class="price-details">
                                    <div class="price-number">
                                        <p><span class="rupees">Rs. @x.Price</span></p>
                                    </div>
                                    <div class="add-cart">
                                        @if (@Session["user"] != null)
                                        {
                                            <h4><a href="/Cart/AddToCart?mod=@x.Model">Add to Cart</a></h4>

                                        }
                                        else
                                        {
                                            <h4><a href="/Account/Login">Add to Cart</a></h4>
                                        }
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->